body{
    background-image: url(./images/black-wallpaper-to-set-as-background-28.jpg);
    background-color: antiquewhite;
}

.div1{
    
    margin-right: auto;
    margin-left: auto;
    margin-top: 150px;
    height: 700px;
    width: 900px;
    background-color: rgb(255, 255, 255);
}

img{
 
    height: 700px;
    width: 400px;
}

.h4{
    padding-left: 700px;
}

.div2{
    height: 700px;
    width: 900;
    background-color: black;
    margin-left: 500px;
}